<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="localhost_license plate recognition_test_db_Connection"
            connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=&quot;license plate recognition_test_db&quot;" />
        <add name="random_db_make_for_plate.Properties.Settings.license_plate_recognition_test_dbConnectionString"
            connectionString="Data Source=.;Initial Catalog=&quot;license plate recognition_test_db&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>